<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geminis - GEMA</title>
    <link rel="icon" type="16x16" href="/static/gema/images/favicon.ico">

    <link rel="stylesheet" href="/static/gema/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/gema/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/gema/css/styles.css"/>
</head>

<body>

{{ yield }}

<script type="text/javascript" src="/static/gema/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/gema/js/popper.min.js"></script>
<script type="text/javascript" src="/static/gema/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/gema/js/scripts.js"></script>

</body>
</html>