<div class="content center-screen">
    <div class="login-container">
        <img src="/static/gema/images/geminis-logo.png" style="height: 150px">
        <div class="login-box">
            <form action="/login" method="post">
                <div class="login-input-box">
                    <i class="fas fa-envelope" style="color:white; margin-right: 20px;"></i>
                    <input title="Email" type="email" id="email" name="email" autofocus>
                </div>
                <div class="login-input-box">
                    <i class="fas fa-lock" style="color:white; margin-right: 20px"></i>
                    <input title="Password" type="password" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-default btn-login"><i class="fas fa-share-square" style="color:white"></i></button>
            </form>
        </div>
    </div>
</div>

<footer class="fixed-footer">
    <small class="text-muted"><a href="https://geminis.io/">Geminis</a></small>
</footer>