<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Geminis - GEMA</title>

    <link rel="icon" type="16x16" href="/static/gema-dash/images/favicon.ico">

    <link rel="stylesheet" href="/static/gema-dash/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/gema-dash/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/gema-dash/css/styles.css"/>
    <link rel="stylesheet" href="/static/gema-dash/css/background.css"/>
</head>

<body>

<div id="particles"></div>

<div class="content center-screen">
    <div class="center-container">
        <img src="/static/gema-dash/images/geminis-logo.png" style="height: 150px">
        <div class="login-box">
            {{ yield }}
        </div>
    </div>
</div>

<footer class="fixed-footer">
    <small class="text-muted"><a href="https://geminis.io/">Geminis Architecture</a></small>
</footer>

<script type="text/javascript" src="/static/gema-dash/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/gema-dash/js/popper.min.js"></script>
<script type="text/javascript" src="/static/gema-dash/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/gema-dash/js/particles.min.js"></script>
<script type="text/javascript" src="/static/gema-dash/js/background.js"></script>
<script type="text/javascript" src="/static/gema-dash/js/scripts.js"></script>

</body>
</html>
